:root{
    --color-black-first: #222f3e;
    --color-black-second: #3A4042;
    --color-black-third: #828282;
    --color-first: #1dd1a1;
    --color-second: #222f3e;
    --color-third: #FFFFFF;
    --color-error: #BA1F33;
    --color-sucess: #62C370;
    --color-warning: #CEB02A;
    --color-fourth: #e7dfdd;
    --color-five: #4C5B84;
}