*{
    background-color: var(--color-black-first);
}

h1{
    margin: 0;
    color: var(--color-third);
    font-family: 'Press Start 2P', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-second);
    border-bottom: 5px solid var(--color-black-second);
    padding: 10px 20px;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: var(--color-third);
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: "";
    background-color: var(--color-first);
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button {
    display: inline-block;
    background-color: var(--color-first);
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 0;
    box-shadow: 3px 2px 0px #576574;
    transition: transform 200ms linear;
}

#button:hover{
    cursor: pointer;
    transform: scale(1.08);
    background-color: #10ac84;
}