h2{
    font-family: 'Press start 2P', sans-serif;
    font-size: 40px;
    color: #10ac84;
    text-shadow: 4px 4px 0 #000;
}

#Subtittle{
    font-family: 'Press start 2P', sans-serif;
    font-size: 30px;
    color: #fff;
    text-shadow: 4px 4px 0 #000;
}
